h1 {
  text-align: center;
}

.profile__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile__info {
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: white;
  padding: 30px 25px;
  border-radius: 13px;
  border: 1px dashed rgb(19, 19, 19);
  font-size: 19px;
}

